@media only screen and (min-width:1200px) {
.container {
	max-width: 1040px;
}
.site-header .container {
	max-width: 1170px;
}
#children .container {
	max-width: 1060px;
}
#science-section .container {
	max-width: 1060px;
}
.node-type-exhibit #footer-block .container {
	max-width: 1060px;
}
}
@media only screen and (min-width:1300px) {
.site-header .container {
	max-width: 1270px;
}
}
@media only screen and (min-width:1025px) and (max-width:1199px) {
.site-header .container {
	max-width: 980px;
  position: relative;
}
.sidebar_left.col-sm-3{
	padding-right:12px;
}
}

@media only screen and (min-width:768px) {
	#sidr-wrapper-0{
		display:none;
  }
  .secondary-menu ul {
    margin: 10px 0 0 0;
  }
  .secondary-menu ul li a {
    padding: 5px;
  }
  .become-member {
    right: 64px !important;
    top: 60px !important;
  }
}

/*  mobile
------------------------*/
@media only screen and (max-width:479px) {
	.acknowledgment-section .views-field-field-level-1-sponsor-logo-link .field-content span img,
	.acknowledgment-section .views-field-field-level-2-sponsor-logo-link .field-content span img{
		margin:0;
	}
	.event-date{
		font-size:18px !important;
	}
		.event-date .date-display-single .date-display-range{
/*		float:left;*/
	}
}
@media only screen and (max-width:767px) {

.field-name-body img {height:auto!important;}

.content-area h2 {padding-left:10px;}

.content-area .blog-title h2 {padding-left:0;}

  .node-type-blog .panels-flexible-row-11-main-row-inside {
    padding-left: 0;
    padding-right: 0;
  }


/*================================================
          display-none-classes on mobile
================================================== */
.mainmenu .mobilenavi {
	display: none;
}
.secondary-menu.col-sm-6 {
	display: none;
}
.blog-link.col-sm-2 {
	display: none;
}
/*================================================
                  fix-header
================================================== */
.col-sm-8.mainmenu {
	background: #2c62ad none repeat scroll 0 0;
	min-height: 45px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.site-branding {
	margin: 0;
	padding-top: 57px;
	padding-bottom: 14px;
	text-align: center;
}
.search {
	background-image: url("images/white-search-btn.svg");
	background-position: 4px 16px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block !important;
	height: auto !important;
	opacity: 1 !important;
	padding: 12px 0 2px !important;
	position: fixed;
	right: 50px;
	text-align: right;
	top: 0;
	width: 30px !important;
	z-index: 999;

}
.search img {
	margin-top: 0;
	opacity: 0;
}
.search-main {
	top: 45px;
	position: fixed;
}
/*--fix-header--*/

/*================================================
                  off-canvas
================================================== */
#sidr-0-button {
	background: rgba(0, 0, 0, 0) url("images/humberger-menu.svg") no-repeat scroll center center;
	color: #fff !important;
    font-size: 30px;
    height: 45px;
    padding: 10px 12px;
    position: absolute;
    right: 0;
	text-indent:-9999px;
	width:50px;
	 -moz-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}



/*
 background: url(images/images/close-icon.svg) no-repeat 18px 14px fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

*/
/*
#sidr-wrapper-0 .open-menu
{
    background-image: url("images/close-icon.png");
	background-image: url("images/close-icon.svg");
	background-position: 18px 14px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	-moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -webkit-transform:translateX(-260px);
    transform: translateX(-260px);
}*/
#sidr-0 {
	background: #093e89 none repeat scroll 0 0;
	box-shadow: none;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	overflow: visible;
}
#sidr-0 .sidr-inner {
	max-height: 100%;
	overflow: auto;
}
.sidr ul {
	/*border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;*/
	border:none;
}

.sidr ul li {
	border: medium none;
}
.sidr ul li:hover {
	line-height: 48px;
}
.sidr li a {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.sidr ul li ul li a {
	box-shadow: none;
	color: #fff;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-top: 12px;
}
.sidr ul li ul li li a {
	font-weight: normal;
	padding-left: 20px !important;
}
.sidr ul li ul li li a:hover {
	color: #fda419;
	background: none;
	border: none;
}
.sidr ul li ul li li a::before {
	content: "-";
	padding-right: 5px;
}
.sidr ul li ul li:hover > a {
	background: #2c62ad none repeat scroll 0 0;
	box-shadow: none;
	border: none;
}
.sidr ul li:hover > a {
	background: #2c62ad none repeat scroll 0 0;
	box-shadow: none;
	border: none;
}
.mean-expand {
	float: right !important;
}
.mean-expand.open {
	background-image: url("images/up-arrows.png");
	background-image: url("images/up-arrows.svg");
	background-position: 7px 21px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 39px;
	width: 0;
}
.mean-expand.close {
	background-image: url("images/down-arrows.png");
	background-image: url("images/down-arrows.svg");
	background-position: 7px 20px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 39px;
	width: 0;
	opacity: 1;
}
.sidr ul li:hover .mean-expand.close {
	background-image: url("images/down-arrows.png");
	background-image: url("images/down-arrows.svg");
	background-position: 7px 20px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 39px;
	width: 0;
}
.sidr ul li:hover .mean-expand.open {
	background-image: url("images/up-arrows.png");
	background-image: url("images/up-arrows.svg");
	background-position: 7px 21px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 39px;
	width: 0;
}
.sidr ul li{
       border-bottom-colors: none;
      border-left-colors: none;
     border-right-colors: none;
     border-top-colors: none;
    border-color: #81aae3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
}

/*--menu-toggel--*/
#sidr-close-opt a {
	/*  background-image:url("images/close-icon.png");*/
	background-image: url("images/close-icon.svg");
	background-color:#2c62ad;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    height: 45px;
    left: -50px;
    line-height: 0;
    padding: 0;
    position: absolute;
    text-align: center !important;
    top: 0;
    width: 50px;
}
li#sidr-close-opt{
	border:none;
}
#sidr-close-opt a:hover {
}
/*--supoort-sub-menu--*/
#sidr-id-block-menu-menu-seconary-menu .sidr-class-menu li a {
     font-weight: 400;
	 font-size:15px;
}
/*
#sidr-id-block-menu-menu-seconary-menu .sidr-class-menu li {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #81aae3;
    color: red;
}

#sidr-id-block-menu-menu-seconary-menu .sidr-class-menu li:hover > a{
	 background: #c6dcfa none repeat scroll 0 0;
}*/
/*--after-correction--*/
.sidr-class-menu{
	margin-bottom:0 !important;
	}
	.sidr-inner{
		padding-bottom:0 !important;
	}
/*========================--off-canvas-end-========================*/
#block-views-exp-calender-page-5 .form-type-select
{
width:170px
}
#main-content {
	/*padding: 0;*/
	clear: both;
}
/*-header top-*/
.blog-section .bolg-image {
	width: 40%;
	padding: 0 0 0 15px;
}
.blog-section .blog-content {
	padding: 0 15px;
	width: 60%;
}
/*-footer-*/
.footer-block {
	clear: both;
}
.footer-block.col-sm-4 {
	margin: auto;
	max-width: 100%;
	width: 324px;
}
#bottom .region-footer-third {
	padding-right: 0px;
}
#bottom .support-link a {
	margin-top: 0px;
}
#bottom .region-footer-first {
	padding: 0px
}
#bottom ul.menu li {
	float: left;
	margin: 0 1px 0 0;
}
.block-simple-subscription {
	clear: both;
	display: block;
	padding-top: 15px;
}
.footer-thired {
	padding-top: 30px;
}
#block-block-13 {
    float: left;
    margin-top: 30px;
    width: 100%;
}
#block-block-13 .content > form {
    margin: inherit;
    width: 289px;
}
/*================================================
                 home page-content
================================================== */
/*--slider--*/
#header-block .col-sm-12 {
	padding: 0px;
}
.flexslider .slides img {
	height: auto;
}
#header-block .slider-content {
	background: #093e89 none repeat scroll 0 0;
	 height: auto;
	line-height: 22px;
	max-width: 100%;
	padding: 20px 15px;
	position: inherit;
	transform: none;
}
#header-block .slide-title, #header-block .slide-body {
	transform: none;
	margin-bottom: 5px;
}
#header-block .views-more-link a, .skew-button a {
	margin-left: 0;
	margin-top: 18px;
	transform: none;
}
#header-block .slide-title a {
	font-size: 30px;
	margin-left: 0;
	line-height: 34px;
}
#header-block .slide-body p {
	font-size: 18px;
	margin: 0;
}

#block-views-home-page-slider-block .flex-control-nav {
  display: none;
}
/*--preface-area--*/
#preface-area{
	 padding: 30px 0 10px;
	 min-height:80px;
}
#preface-area .view-calender .views-field {
   margin:0 0 15px;
    width: 100%;
}
#preface-area .view-calender .today-title{
	 margin-top: 0;
}
#preface-area .view-calender .views-field .views-label {
    display: block;
    margin: auto;
    width: 75%;
}
/*---main-content-saction---*/
.content-area.col-sm-12 {
	padding: 0;
}
.front-page-node {
    padding-top: 0 !important;
}
.front-page-node .article-image {
	width: 100%;
	padding: 0px;
}
.front-page-node .article-content {
	width: 100%;
	padding: 0 15px 0px;
}
.front-page-node .article-content .article-title > a {
	line-height: 34px;
	margin-top: 15px;
}
.front-page-node blockquote.image-field-caption p {
	font-size: 18px;
}
/*--calender-section--*/
.calender-section {
	padding-bottom:0;
}
.calender-section #mini-panel-home_page_calender .panel-col-top, .news-section .panel-col-top {
	height: 83px;
	overflow: hidden;
	position: relative;
	margin-bottom: 22px;
}
.calender-section #mini-panel-home_page_calender .panel-col-top h1, .news-section .panel-col-top p {
	margin-left: -428px;
	margin-right: auto;
	margin-top: -460px;
	max-width: none;
	position: absolute;
}
.calender-section .panel-col-last, .calender-section .panel-col-first {
	width: 100%;
}
.calender-section .panel-col-last .view-footer .view-all-event {
	left: auto;
	right: 15px;
	position:absolute;
	bottom:0;
}
.calender-section .panel-col-last .view-all-event > a{
	position:relative;
}
.calender-section .panel-col-last {
	/*padding-bottom: 45px;*/
	position: relative;
}
.calender-section .panel-col-last .view-content {
	 margin: auto auto 70px;
	position: relative;
	max-width: 475px;
	/*max-width: 100%;*/
}
.calender-section .panel-col-first .date-field {
    padding-left: 1%;
	  font-size: 16px;
}
.calender-section .panel-col-first .date-display-range {
    margin-left: 3px;
}
/*--home-blog-section--*/
.home-blog-section {
	padding: 40px 0;
}
.recent-bolg-image {
	margin-left: 0;
	width: 100%;
}
.recent-blog-content {
	margin-top: 25px;
	padding: 0 15px;
	width: 100%;
}
.recent-blog-type h2{
	font-size:20px;
}
.recent-blog-title a{
font-size: 25px;
}
/*--news--section--*/
.panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
	width: 100%;
}
/*
.news-section .panel-col-first .all-news {
	transform: rotate(180deg);
	bottom: -44px;
}*/
.news-section .panel-col-first {
    padding-bottom: 0;
}
.news-section .panel-col-first .all-news {
    bottom:-44px;
}
.news-section .panel-col-first .all-news > a {
   background: rgba(0, 0, 0, 0) url("images/svg_images/calendar button-rotate.svg") no-repeat scroll 0 0;
    display: block;
    margin-bottom: 0;
    width: 155px;
	 padding: 8px 32px;
	 height:60px;

}
.news-section .panel-col-first .all-news > a:hover {
    background-position: 0 -100px;
}
/*
.news-section .panel-col-first .all-news span {
	left: 50%;
	margin-left: -30px;
	position: absolute;
	transform: rotate(180deg);
	width: 60px;
}*/

.news-section .recent-news-content {
	padding: 45px 20px 26px;
}
.news-section .panel-col-last {
	margin-top: 62px;
}
.news-section .panel-col-last .inside {
	margin: auto;
	padding: 0 15px;
	width: 480px;
	max-width: 100%;
}
/*--award-section--*/
#block-bean-an-award-winning-destination h2 {
  float: none;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  line-height: 150%;
  padding-top: 0;
}
.award-image {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.award-image > img {
	margin: 4px;
	width: 30%;
}



/*================================================
                Typical-subpage
================================================== */
.sidebar_left.col-sm-3 {
	display:none;
}
.content-area .pane-node-title a{
font-size:26px;
}
.content-area fieldset a{
	font-size:15px;
}
/*.content-area fieldset{
	  margin: 10px 0;
}*/
.content-area .collapse-text-text {
    margin-top: 30px;
}
.content-area .collapse-text-text h1::before {
   /* border-color: #2173b9 #2173b9 transparent;
    border-style: solid;
    border-width: 63px 0 0 18px;*/
	border:none;
}
.content-area .collapse-text-text h1{
	  margin-left:-3%;
    margin-right: -3%;
}
.content-area .collapse-text-text h1::after {
   /* border-left: 0 solid transparent;
    border-right: 18px solid #2173b9;
    border-top: 63px solid #2173b9;*/
	border:none;
}
#footer-block .view-mission-philosophy .view-content .field-content img{
	   /*margin-right: 15px;*/
}
/*--slider--*/

.pane-views-feature-image-slider-block {
    margin-left: -15px;
    margin-right: -18px;
}
.view-feature-image-slider .owl-wrapper .owl-item {
    min-width: 320px;
}
.view-feature-image-slider blockquote {
    padding: 0 15px;
}
/*================================================
                 about
       Typical-subpage/newsroom-page
================================================== */
.page-newsroom .news-image {
    float:inherit;
    width: auto;
}
.page-newsroom .news-type{
	margin-top:15px;
}
.page-newsroom .region-content-top {
    float: left;
}
.page-newsroom  #edit-field-news-type-tid, .page-newsroom  #edit-field-event-type-tid, .page-newsroom  #edit-jump{
	width:140px;
	}
	.page-newsroom  .form-type-select{
	width:140px;
	margin-right:15px;
	  margin-bottom: 15px;
}
.page-newsroom .region-content-top .block.block-views{
	margin:0px;
}

.page-newsroom #block-views-exp-news-page-2 {
    margin: 15px 0;
    width: 100%;
}
.page-newsroom #views-exposed-form-news-page-2{
	width:100%;
}

/*================================================
                 about
      Typical-subpage/newsroom-page/inner
================================================== */
.node-type-news .pane-node-field-news-image{
	float:inherit;
}
/*================================================
                 Education
     discovery-museums-speaker-series-page
================================================== */
.speaker-series .auther-image,
.speaker-series .field-content .event-fields{
	width:auto;
}
#footer-block .view-mission-philosophy .view-content{
	width:auto;
	float: none;
}

/*================================================
                 Education
    traveling-science-workshop-page
================================================== */
  #views-exposed-form-travelling-science-workshop-block-2 #edit-field-ma-ste-standards-tid-wrapper,
  #views-exposed-form-travelling-science-workshop-block-1 #edit-field-ma-ste-standards-tid-wrapper{
	float:left;
	width:auto;
}
.workshop h2 {
    float: none;
    margin-bottom: 25px;
	  margin-top: 0;
	  padding-left:0;

}
.program-section .view-grouping{
	width:100%;
	padding:0 15px;
}
#edit-field-ma-ste-standards-tid-wrapper .form-item-field-ma-ste-standards-tid{
	float:left;
}
.view-travelling-science-workshop .ui-accordion{
	float:left;
}
.view-travelling-science-workshop .view-filters {
    /*float: left;*/
}
#edit-field-grades-tid-wrapper,
#views-exposed-form-travelling-science-workshop-block-2 #edit-field-ma-ste-standards-tid-wrapper,
#views-exposed-form-travelling-science-workshop-block-1 #edit-field-ma-ste-standards-tid-wrapper{
	 margin-top: 12px;
}
  #views-exposed-form-travelling-science-workshop-block-2 .form-item-field-ma-ste-standards-tid,
#views-exposed-form-travelling-science-workshop-block-1 .form-item-field-ma-ste-standards-tid,
#edit-field-grades-tid-wrapper{
	/*width:150px !important;*/
}
#edit-field-grades-tid-wrapper{
	margin-left:10px;
	margin-right:0px;
}
#edit-field-ma-ste-standards-tid-wrapper .fieldset-legend,
#edit-field-grades-tid-wrapper .fieldset-legend{
	 background-position: 94% center !important;
}
#primary .pane-block-11 h2, #primary .pane-block-12 h2{
	padding-left:0;
}
/*================================================
                 Education
         play-matters-blogs-page
================================================== */
#primary .view-our-blog .bolg-image{
	float:none;
}
.page-play-matters-blogs #primary .views-row,
.page-brain-building-blog #primary .views-row,
.page-grandparent-discoveries-blog #primary .views-row {
 margin-bottom: 25px;
 padding-bottom:0px;
}
#sidebar.col-sm-3 {
    margin:25px auto auto;
    max-width: 245px;
}
.panels-flexible-region-11-left{
	width:100%;
}
.panels-flexible-region-11-right {
    float: none;
    margin: auto;
    width: 245px;
}
.panels-flexible-region-11-left .view-our-blog .views-field-picture{
	float:none;
	margin-bottom: 15px;
}
/*--inner-pages--*/
.node-type-blog #primary {
    padding: 0 15px;
}
.node-type-blog #primary .panels-flexible-region-11-center{
	width:100%;
}
.node-type-blog #primary .panels-flexible-region-11-center .blog-category-type p {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
}
#primary .view-our-blog .blog-content{
	width:100%;
}
/*================================================
                 Education
        individual-page and individual-page
================================================== */
#primary .view-our-blog .views-field-picture{
	float:none;
	margin:0px;
}

/*================================================
                     Visit
================================================== */

/*--plan-your-visit--*/
ul.quicktabs-tabs.quicktabs-style-basic{
	border:none;
}

ul.quicktabs-tabs.quicktabs-style-basic li{
	height: 37px;
    margin: 0 0 10px;
    width: 100%;
}
ul.quicktabs-tabs.quicktabs-style-basic a{
	padding: 8px 10px;
	 text-align: center;
}
.panels-flexible-region-12-left{
	width:100%;
	 border-right: medium none;
    padding: 0 !important;
}
.panels-flexible-region-12-center{
	width:100%;
	 padding:0 !important;
}
.quicktabs_main.quicktabs-style-basic {
    border: medium none;
    padding: 0;
}
.panels-flexible-12 .panels-flexible-region-inside-last,
.panels-flexible-12 .panels-flexible-region-inside-first{
	padding:0px;

}
 .panels-flexible-region-12-left,
.panels-flexible-region-12-center,
.panels-flexible-region-12-first{
			padding:15px 0 !important;
}
.panels-flexible-region-15-left, .panels-flexible-region-15-center {
    padding-top: 15px !important;
}
#mini-panel-plan_your_visit .panels-flexible-region-12-center {
    padding: 15px 0 0 !important;
}
/*--tips&visit--*/

.panels-flexible-row-13-main-row.panels-flexible-row-last,
.panels-flexible-row-16-main-row.panels-flexible-row-last{
	padding:0px !important;
}
.panels-flexible-13 .panels-flexible-region-inside-first,
.panels-flexible-16 .panels-flexible-region-inside-first{
	padding-right:0 !important;
}
.panels-flexible-13 .panels-flexible-region-inside-last,
.panels-flexible-16 .panels-flexible-region-inside-last{
	padding:0px !important;

}
.panels-flexible-region-13-left,
.panels-flexible-region-13-center,
.panels-flexible-region-16-left,
.panels-flexible-region-16-center{
	width:100%;
}
#mini-panel-tips_for_visiting h1,
#mini-panel-tips_for_visiting_covid h1{
    padding: 0 15px !important;
}
/*--Getting here & parking--*/

#mini-panel-getting_here_and_parking .pane-content h1 {
    line-height: 30px;
}
.panels-flexible-region-first, .panels-flexible-region-last, #block-panels-mini-getting-here-and-parking .panels-flexible-row-last, #mini-panel-holiday_and_vacation_week_hours .panels-flexible-row-last{
	padding:0 !important;
}
#mini-panel-getting_here_and_parking .pane-content {
    padding-left: 0px !important;
}

/*--Holiday & vacation week hours--*/
.panels-flexible-region-15-left,
.panels-flexible-region-15-center{
	width:100%;}
#mini-panel-holiday_and_vacation_week_hours .panels-flexible-region-inside-last{
	padding:0px !important;
}

#quicktabs-plan_your_visit .pane-content > h1{
	 line-height: 30px;
}
#mini-panel-holiday_and_vacation_week_hours .pane-content p{
/*	padding:0px;*/
}
#mini-panel-holiday_and_vacation_week_hours .panels-flexible-region-inside-first{
	padding:0px !important;
}
#mini-panel-holiday_and_vacation_week_hours .pane-content h4{
/*	padding:0px;*/
	}

#mini-panel-holiday_and_vacation_week_hours .panels-flexible-region-15-center{
	margin-top:15px;
}
/*================================================
                Exhibit-landing
================================================== */
.exhibit-section .panels-flexible-row-7-main-row-inside .panels-flexible-region{
	width:100%;
	margin-top: 30px;
}
.view-exhibit td{
	width:100%;
}
.exhibit-section .panels-flexible-row-first p{
	 margin-left: -418px;
    margin-right: auto;
    margin-top: -467px;
    max-width: none;
    position: absolute;
}
.exhibit-section .panels-flexible-row-first{
display: block;
    height: 102px;
    position: relative;
}
.view-exhibit td, .page-node-42  .view-exhibit .view-content .views-row {
    float: none !important;
    margin: 0 auto 20px !important;
    padding: 0 !important;
    width: 230px;
}
/*.node-type-exhibit .view-exhibit td .views-field-field-featured-slide-image {
    margin: auto;
    width: 232px;
	max-width:100%;
}
.node-type-exhibit .view-exhibit td .views-field.views-field-title {
    margin: auto;
    width: 232px;
	max-width:100%;
}*/
/*================================================
                Exhibit-landing
				individual-page
================================================== */
.node-type-exhibit .view-id-exhibit .views-field-field-exhibit-image {
    float: none;
    margin-right: 0;
	margin-bottom: 10px;
    width: auto;
}.node-type-exhibit .view-id-exhibit .views-field-field-heading {
    float: none;
    width: auto;
}
.node-type-exhibit .view-id-exhibit .views-field-field-summary-text {
    float: none;
    width: auto;
}

/*================================================
                   Education
				 calender-page
================================================== */
.page-calendar .sidebar_left.col-sm-3 {
display: block;
    margin: auto;
    max-width: 100%;
    padding: 0 15px;
    width: 260px;
}
.page-calendar  #block-views-calender-block-1{
	display:none;
}
.page-calendar #primary {
    padding: 0 10px;
}
.page-calendar #primary #content > div {
  position: relative;
 }
 #block-views-exp-calender-page-3, #block-views-exp-calender-page-2 {
    float: left;
    margin: 0;
    padding: 0;
}
  .page-calendar #primary #block-views-exp-calender-page-4
 {
	clear: both;
    margin-top: 10px;
    position: relative;
    width: 100%;
 }
 #block-views-exp-calender-page-5 {
    position: absolute;
    right: 0;
    top: 0;
}
  .page-calendar #primary #block-views-exp-calender-page-4 #views-exposed-form-calender-page-4{
	  width: 100%;

 }
 #block-views-exp-calender-page-4 .views-submit-button {
    right: 1px;

 }
.page-calendar #primary  #block-views-exp-calender-page-3{
	 position: absolute;
    right: 0;
}
.page-calendar #primary  #block-views-exp-calender-page-3 .form-type-select{
	width:130px;
	background-position: 108px center;
}
.page-calendar #primary #block-block-30 a#mybutton button{
	   padding: 9px 17px;
}
.page-calendar #primary .view-calender .view-header .date-nav-wrapper .date-nav{
	   margin: 30px 0 15px;
}
.page-calendar #primary .view-calender .view-header .date-nav-wrapper .date-prev {
    left: 0 !important;
    right: auto !important;
    top: -30px;
}

.page-calendar #primary .view-calender .view-header .date-nav-wrapper .date-next {
    left: 140px !important;
    right: auto !important;
    top: -30px;
}
#primary .view-calender .views-row .event-auther-image {
    float: none;
    margin-right: 0;
}
}
/*  tablets
------------------------*/
@media only screen and (min-width:768px) and (max-width:991px) {
/*-header top-*/
.secondary-menu.col-sm-6 {
	padding-right: 15px;
	position: absolute;
	right: 0;
	top: 45px;
}
.col-sm-8.mainmenu {
	position: absolute;
	right: 0;
}
.sidebar_left .view-mission-philosophy .field-name-field-button-link a,
 .sidebar_left .view-mission-philosophy .views-field-field-button-link-1 a{
	  background-size: 92% 100%;
}
/*================================================
                   Education
				 calender-page
================================================== */
#block-views-exp-calender-page-3, #block-views-exp-calender-page-2, #block-views-exp-calender-page-1, #block-views-exp-calender-page-4{
    float:right;
    margin: 0 0 0 8px;
	}

#views-exposed-form-news-page-2, #views-exposed-form-calender-page-2, #views-exposed-form-calender-page-1, #block-views-exp-calender-page-4 {
    width:auto !important;
}
#views-exposed-form-calender-page-1 #edit-keys,
#block-views-exp-calender-page-2 #edit-keys,
#block-views-exp-calender-page-4 #edit-keys {
	 padding-left: 10px;
}
#views-exposed-form-calender-page-1 #edit-submit-calender,
#block-views-exp-calender-page-2 #edit-submit-calender,
#block-views-exp-calender-page-4 #edit-submit-calender{
	 padding: 18px;
	 }
#block-views-exp-calender-page-3 .form-type-select{
	 background-position: 104px center;
    width: 125px;

}
#block-views-exp-calender-page-3  #edit-field-event-type-tid{
 padding-left: 3px;
}
#primary .view-calender .view-header .date-nav-wrapper .date-nav{
	margin: 40px 0 15px;
}
#primary .view-calender .view-header .date-nav-wrapper .date-prev {
    left: 0 !important;
    right: auto !important;
    top: -36px;
}
#primary .view-calender .view-header .date-nav-wrapper .date-next {
    left: 140px !important;
    right: auto !important;
    top: -36px;
}
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  .search {
    bottom: 25px;
    position: absolute;
    right: 10px;
  }
}
@media only screen and (min-width:1025px) and (max-width:1199px) {
  .search {
    bottom: -65px;
    position: absolute;
    right: -10px;
  }
}
@media only screen and (min-width:768px) and (max-width:1199px) {
  /*-header top-*/
  #masthead {
    min-height: 180px;
  }
  .secondary-menu.col-sm-6 {
    float: right;
    padding-right: 15px;
  }

  .search-main {
    top: 170px;
  }
  .col-sm-8.mainmenu {
    float: right;
  }
  .site-header .blog-link.col-sm-2 {
    left: 77px;
  }
  .reserve-tickets {
    position: absolute;
    right: 240px;
    top: 60px;
  }
  .become-member {
    position: absolute;
    right: 64px;
    top: 48px;
  }
  .site-branding {
    left: 5px;
    padding-top: 0;
    position: absolute;
    top: 70px;
    width: 64%;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
/*================================================
                  blog-section
================================================== */
.blog .views-more-link a {
	left: 77px !important;
}
.bolg-image {
    margin-bottom: 40px;
    width: 295px;
}
.blog-content{
	width:61%;
}
.blog-link{
	right:8px;
}

/*================================================
                 footer
================================================== */
.footer-block.col-sm-4 {
	width: 50%;
}
.footer-second {
	clear: both;
	float: left;
}
.footer-thired {
	position: absolute;
	right: 0;
}
#bottom .region-footer-third {
	max-width: 100%;
	padding-right: 0;
	width: 344px;
}

/*================================================
                 home page-content
================================================== */
/*--slider--*/
#header-block .col-sm-12 {
	padding: 0px;
}
.flexslider .slides img {
	height: auto;
}
#header-block .slider-content {
	background: #093e89 none repeat scroll 0 0;
    height: auto;
    line-height: 22px;
    padding: 20px 70px;
    position: inherit;
    transform: none;
    width: 100%;
}
.front #flexslider-1 {background: #093e89}
#header-block .slide-title, #header-block .slide-body {
    max-width: 100%;
    transform: none;
    width: 590px;
}
#header-block .views-more-link a, .skew-button a {
	margin-left: 0;
	transform: none;
	 margin-top: 20px;
}
#header-block .slide-title a {
	margin-left: 0;
	line-height: 34px;
}
#header-block .slide-body p {
	margin: 0;
}

/*--preface-area--*/
 #preface-area .view-calender .views-field.views-field-nothing{
	 width: 100% !important;
 }
 #preface-area .view-calender .views-field{
	 width:50%;
 }
 #preface-area .view-calender .today-title{
	margin-top: 0;
	 margin-bottom: 20px;
 }

/*---main-content--*/
.front-page-node .row{
	margin:0;
}
.front-page-node .container {
    max-width: 100%;
}
.front-page-node .article-image{
	padding:0px;
 margin-left:-15px;
 width:48%;
}

.front-page-node .article-content {
   padding:0 15px 0 30px;
   width: 52%;
}
.front-page-node .article-content .article-title > a{
	font-size:26px;
}
.pane-twitter-block-1{
	overflow:hidden;
}

/*--calender-section--*/
.calender-section {
	padding-bottom:0;
}
.calender-section .panel-col-first .date-field {
    padding-left: 1%;
}
.calender-section  .date-field{
	font-size:17px;
}
.calender-section .panel-col-last, .calender-section .panel-col-first{
	/*margin-bottom:50px;*/
}
/*--home-blog-section--*/
.home-blog-section .container {
    max-width: 100%;
}

.home-blog-section .recent-bolg-image {
    margin-left: 0;
    max-width: 100%;
    width: 370px;
}
.home-blog-section  .recent-blog-content {
  padding-left: 30px;
}
/*--footer-block--*/
#footer-block .award-image > img {
    vertical-align: middle;
    width: 20%;
}
/*--news-saction--*/
.news-section .panel-col-last {
	padding:25px 15px 0 15px;
}
#bottom .footer-text {width:250px;margin:0 auto 12px auto;}

/*================================================
                 Typical-subpage
================================================== */
.sidebar_left.col-sm-3,
.panels-flexible-region-11-right {
    margin-right: 0;
    max-width: 100%;
    padding-right: 15px;
    width: 30%;
}
.content-area.col-sm-9,
.panels-flexible-region-11-left {
    width: 70%;
}
#sidebar.col-sm-3{
	width:30%;
}
.sidebar_left .view-mission-philosophy .field-content img {
    height: auto;
    width: 212px;
}
.program-section .view-grouping{
    width: 76%;
}
#footer-block .view-mission-philosophy .view-content {
	width:70%;
}
/*================================================
                    about
		Typical-subpage/newsroom-page
================================================== */
.page-newsroom .region-content-top{
	margin-bottom:20px;
}
.page-newsroom .region-content-top .block.block-views{
	margin:0 15px 0 0;
}
#views-exposed-form-news-page-2, #views-exposed-form-calender-page-2{
	 width: 179px;
}
#block-views-exp-news-page-2{
	margin:0px;
}
/*================================================
                    about
		Typical-subpage/newsroom-page/inner
================================================== */
.node-type-news .pane-node-field-news-image{
	float:inherit;
}

/*================================================
                   Education
		    play-matters-blogs-page
================================================== */
#header-block .container {
    max-width: 100%;
}
.page-play-matters-blogs #header-block .container{
 max-width: 100%;
}
.page-play-matters-blogs #sidebar {
	width:30%;
}

.page-play-matters-blogs #primary .blog-content{
	width:auto;
	padding:0px;
}
.page-play-matters-blogs #primary .views-row {
    margin-bottom: 25px;
    padding-bottom: 0;

}

#primary .view-our-blog .bolg-image {
    float: none;
    margin-bottom: 5px;
    margin-right: 0;
}
#primary .view-our-blog .blog-content{
	width:100%;
}
/*================================================
                 Visit
================================================== */
.page-plan-your-visit .sidebar_left.col-sm-3{
	display:none;
	}
.page-plan-your-visit #primary.content-area.col-sm-9{
width: 100%;
}
ul.quicktabs-tabs.quicktabs-style-basic a {font-size: 14px!important;}
/*================================================
                Exhibit-landing
================================================== */
.view-exhibit td{
	width:33.33%;
}

/*================================================
                Exhibit-landing
				individual-page
================================================== */
.node-type-exhibit .view-id-exhibit .views-field-field-exhibit-image {
    float: none;
    margin-right: 4%;
    width: auto;
}.node-type-exhibit .view-id-exhibit .views-field-field-heading {
    float: none;
    width: auto;
}
.node-type-exhibit .view-id-exhibit .views-field-field-summary-text {
    float: none;
    width: auto;
}
/*================================================
             Education
	   traveling-science-workshop-page
================================================== */
.view-travelling-science-workshop .ui-accordion{
	float:left;
}
.view-travelling-science-workshop .view-filters {
    float: left;
}
#edit-field-grades-tid-wrapper,
#views-exposed-form-travelling-science-workshop-block-2 #edit-field-ma-ste-standards-tid-wrapper,
#views-exposed-form-travelling-science-workshop-block-1 #edit-field-ma-ste-standards-tid-wrapper{
	 margin-top: 12px;
}
}
@media only screen and (min-width:1025px) and (max-width:1199px) {
	.news-section .panel-col-first {
    padding-bottom: 12%;
}
	.sidebar_left .view-mission-philosophy .field-name-field-button-link::after{
		border-right: 196px solid transparent;
	}
}
@media only screen and (min-width:992px) and (max-width:1024px) {
	.news-section .panel-col-first {
    padding-bottom: 12%;
}
.view-exhibit td, .page-node-42 .view-exhibit .view-content .views-row{
	width:33.33%;
}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.news-section .recent-news-image, .calender-section .image-field{
    margin: auto;
    max-width: 278px;
}
/*===sept 16 ====*/

.sidebar_left .view-mission-philosophy .views-field-field-button-link-5 a
{
	background-size:92%;
}
.view-exhibit td, .page-node-42  .view-exhibit .view-content .views-row{
	width:33.33%;
}

.sidebar_left .view-mission-philosophy .field-name-field-button-link a, .sidebar_left .view-mission-philosophy .views-field-field-button-link-1 a {
    background-size: 92% auto;
}
.sidebar_left .view-mission-philosophy .views-field-field-button-link a:hover {
    background-position:left -82px;
}
.sidebar_left .view-mission-philosophy .views-field-field-button-link-1 a:hover {
    background-position:0 -93px !important;
}
.sidebar_left .view-mission-philosophy .views-field-field-button-link-5 a:hover {
    background-position: left -81.75px;
}

/*.content-area .collapse-text-text h2, .pane-node-body h2 {
   display: table;
    height: 85px;
    max-width: 900px;
    padding-bottom: 0;
    padding-top: 12px;
    vertical-align: middle;
    width: 100%;
}*/
.pane-node-body h2.bluebar{
	margin:35px -15px;
	background-size: 100% 100%;
}
.content-area .collapse-text-text h2 a, .pane-node-body h2 a {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.sidebar_left .view-mission-philosophy .views-field-field-button-link-5 a,
.sidebar_left .view-mission-philosophy .views-field-field-button-link-1 a,
.sidebar_left .view-mission-philosophy .views-field-field-button-link a{
	padding:0 45px 0 30px !important;
}
.sidebar_left .view-mission-philosophy .views-field-field-button-link-5 a span, .sidebar_left .view-mission-philosophy .views-field-field-button-link-1 a span, .sidebar_left .view-mission-philosophy .views-field-field-button-link a span{
	padding-bottom:15px;
}
/* calendr page */
#block-views-exp-calender-page-4 {
    position: relative;
    width: 100% !important;
	margin-top:10px;
}
#block-views-exp-calender-page-4 .views-submit-button {
    right: 5px;
}
#block-views-exp-calender-page-5 {
    margin: 0;
	position:absolute;
	right:15px;
	top:0;
}

}
@media only screen and (max-width:767px) {
#primary {
	overflow:hidden;
}
.content-area .collapse-text-text h2::before, .pane-node-body h2::before,
.content-area .collapse-text-text h2::after, .pane-node-body h2::after{
	display:none;
}
.content-area .collapse-text-text h2, .pane-node-body h2{
	 margin: 35px -25px 35px -15px;
}
.pane-node-body h2.bluebar{
	    background-color: #2173b9;
}
.sidr ul li {
  position: relative;
}
.sidr-class-expanded > a {
  pointer-events: none;
}
.sidr-class-expanded > a.mean-expand,
.sidr-class-expanded > a.mean-expand:hover,
.sidr ul li:hover > a.mean-expand,
.sidr ul li:hover .mean-expand.close,
.sidr ul li:hover .mean-expand.open {
  pointer-events: auto;
  font-size: 1.1em;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-position: right 7px top 21px;
  background-color: transparent;
  min-height: 39px;
}
}
@media only screen and (max-width:1024px) {
	.event-date .date-display-single{
		display:inline !important;
	}
}
@media only screen and (max-width:480px) {
	#block-views-exp-calender-page-5 .form-type-select {
    width: 130px;
    padding-left: 5px;
    padding-right: 10px;
  }
  #block-bean-an-award-winning-destination > .content {
    width: 100%;
    float: none;
    display: block;
  }
  #block-bean-an-award-winning-destination .content .field-name-field-block-image {
    text-align: center;
  }
  #block-bean-an-award-winning-destination .content .field-name-field-block-image .field-item {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
  #block-bean-an-award-winning-destination .content .field-name-field-block-image .field-item:nth-child(5)  {
    float: none;
  }
  .page-calendar-week .open-schedule-header h2 {
    clear: both;
    display: block;
    width: 100%;
    padding-bottom: 0;
  }
  .page-calendar-week .open-schedule-header h3 {
    padding-left: 15px;
  }
}

/*I need to correct some styles that have been placed in many different locations*/
.view-travelling-science-workshop .view-filters,
.view-travelling-science-workshop .view-empty {
  clear: both;
}

.view-travelling-science-workshop .views-exposed-widgets .views-exposed-widget + .views-exposed-widget {
  margin-left: 10px;
}
